<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Battle</title>
<style type="text/css">
body,td,th {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
}
.MainTitle {
	font-size: 80px;
	font-weight: bold;
	color: #FFF;
}
html {
  background: url(https://raw.githubusercontent.com/adrianeyre/battle/master/images/Background.jpeg) no-repeat fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.PlayerTitle {
	font-size: 40px;
	color: #FFF;
}
WhiteText {
	font-size: 30px;
}
#form1 table tr td {
	font-size: 20px;
	color: #FFF;
}
.ButtonText {
	font-size: 40px;
	color: #000;
}
body {
	margin-top: 5px;
}
</style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50">&nbsp;</td>
    <td align="center" class="MainTitle">Game Battle</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td><form id="form1" name="form1" method="post" action="/names">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%" align="center" class="PlayerTitle"><span class="PlayerTitle">Player 1</span></td>
          <td width="50%" align="center"><span class="PlayerTitle">Player 2</span></td>
        </tr>
        <tr>
          <td width="50%">&nbsp;</td>
          <td width="50%">&nbsp;</td>
        </tr>
        <tr>
          <td width="50%">Name
            <label for="player1_name"></label>
            <input name="player1_name" type="text" id="player1_name" size="50" /></td>
          <td width="50%">Name
            <label for="player2_name"></label>
            <input name="player2_name" type="text" id="player2_name" size="50" /></td>
        </tr>
        <tr>
          <td width="50%">&nbsp;</td>
          <td width="50%">&nbsp;</td>
        </tr>
        <tr>
          <td width="50%" align="center">Avatar</td>
          <td width="50%" align="center">Avatar</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_1.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input name="player_1_char" type="radio" id="player_1_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_1.jpg" checked="checked" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_2.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_2.jpg" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_3.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_3.jpg" /></td>
            </tr>
            <tr>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_4.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_4.jpg" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_5.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_5.jpg" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_6.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input name="player_1_char" type="radio" id="player_1_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_6.jpg" /></td>
            </tr>
          </table></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_1.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input name="player_2_char" type="radio" id="player_2_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_1.jpg" checked="checked" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_2.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_2.jpg" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_3.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_3.jpg" /></td>
            </tr>
            <tr>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_4.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_4.jpg" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_5.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_5.jpg" /></td>
              <td width="90"><img src="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_6.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="https://raw.githubusercontent.com/adrianeyre/battle/master/images/player_image_6.jpg" /></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input name="Submit" type="submit" class="ButtonText" id="submit" value="Submit" /></td>
        </tr>
        </table>
    </form></td>
    <td width="50">&nbsp;</td>
  </tr>
</table>
</body>
</html>
