<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Battle</title>
<style type="text/css">
body,td,th {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
}
.MainTitle {
	font-size: 80px;
	font-weight: bold;
	color: #FFF;
}
body {
	background-image: url(http://vignette3.wikia.nocookie.net/wartune/images/e/eb/Amazon_Battle_Background.jpeg/revision/latest?cb=20140611222318);
}
.PlayerTitle {
	font-size: 40px;
	color: #FFF;
}
WhiteText {
	font-size: 30px;
}
#form1 table tr td {
	font-size: 20px;
	color: #FFF;
}
.ButtonText {
	font-size: 40px;
	color: #000;
}
</style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50">&nbsp;</td>
    <td align="center" class="MainTitle">Game Battle</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td><form id="form1" name="form1" method="post" action="/names">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%" align="center" class="PlayerTitle"><span class="PlayerTitle">Player 1</span></td>
          <td width="50%" align="center"><span class="PlayerTitle">Player 2</span></td>
        </tr>
        <tr>
          <td width="50%">&nbsp;</td>
          <td width="50%">&nbsp;</td>
        </tr>
        <tr>
          <td width="50%">Name
            <label for="player1_name"></label>
            <input name="player1_name" type="text" id="player1_name" size="50" /></td>
          <td width="50%">Name
            <label for="player2_name"></label>
            <input name="player2_name" type="text" id="player2_name" size="50" /></td>
        </tr>
        <tr>
          <td width="50%">&nbsp;</td>
          <td width="50%">&nbsp;</td>
        </tr>
        <tr>
          <td width="50%" align="center">Avatar</td>
          <td width="50%" align="center">Avatar</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="90"><img src="http://starsmedia.ign.com/stars/image/article/976/976353/the-top-10-most-overrated-videogame-characters-20090424020213160-000.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input name="player_1_char" type="radio" id="player_1_char" value="http://starsmedia.ign.com/stars/image/article/976/976353/the-top-10-most-overrated-videogame-characters-20090424020213160-000.jpg" checked="checked" />
                <label for="player_1_char"></label></td>
              <td width="90"><img src="http://i223.photobucket.com/albums/dd246/GamingNews/Games/character_1.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="http://i223.photobucket.com/albums/dd246/GamingNews/Games/character_1.jpg" /></td>
              <td width="90"><img src="https://s-media-cache-ak0.pinimg.com/originals/d6/c4/ab/d6c4ab43eb501a75e057067fa7b3d932.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="https://s-media-cache-ak0.pinimg.com/originals/d6/c4/ab/d6c4ab43eb501a75e057067fa7b3d932.jpg" /></td>
            </tr>
            <tr>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="90"><img src="http://ic.pics.livejournal.com/shmandercheizer/14954515/67111/67111_900.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="http://ic.pics.livejournal.com/shmandercheizer/14954515/67111/67111_900.jpg" /></td>
              <td width="90"><img src="http://8.media.dorkly.cvcdn.com/11/82/e1fa01b4ec81f250e182e34213ef2005.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_1_char" id="player_1_char" value="http://8.media.dorkly.cvcdn.com/11/82/e1fa01b4ec81f250e182e34213ef2005.jpg" /></td>
              <td width="90"><img src="https://s-media-cache-ak0.pinimg.com/564x/b8/3e/07/b83e07a51e05f7d20c589b06859cb410.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input name="player_1_char" type="radio" id="player_1_char" value="https://s-media-cache-ak0.pinimg.com/564x/b8/3e/07/b83e07a51e05f7d20c589b06859cb410.jpg" /></td>
            </tr>
          </table></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="90"><img src="http://starsmedia.ign.com/stars/image/article/976/976353/the-top-10-most-overrated-videogame-characters-20090424020213160-000.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><label for="player_1_char">
                <input name="player_2_char" type="radio" id="player_2_char" value="http://starsmedia.ign.com/stars/image/article/976/976353/the-top-10-most-overrated-videogame-characters-20090424020213160-000.jpg" checked="checked" />
              </label></td>
              <td width="90"><img src="http://i223.photobucket.com/albums/dd246/GamingNews/Games/character_1.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="http://i223.photobucket.com/albums/dd246/GamingNews/Games/character_1.jpg" /></td>
              <td width="90"><img src="https://s-media-cache-ak0.pinimg.com/originals/d6/c4/ab/d6c4ab43eb501a75e057067fa7b3d932.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="https://s-media-cache-ak0.pinimg.com/originals/d6/c4/ab/d6c4ab43eb501a75e057067fa7b3d932.jpg" /></td>
            </tr>
            <tr>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
              <td width="90">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="90"><img src="http://ic.pics.livejournal.com/shmandercheizer/14954515/67111/67111_900.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="http://ic.pics.livejournal.com/shmandercheizer/14954515/67111/67111_900.jpg" /></td>
              <td width="90"><img src="http://8.media.dorkly.cvcdn.com/11/82/e1fa01b4ec81f250e182e34213ef2005.jpg" alt="avatar 1" height="100" width="75" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="http://8.media.dorkly.cvcdn.com/11/82/e1fa01b4ec81f250e182e34213ef2005.jpg" /></td>
              <td width="90"><img src="https://s-media-cache-ak0.pinimg.com/564x/b8/3e/07/b83e07a51e05f7d20c589b06859cb410.jpg" alt="avatar 1" height="100" width="60" /></td>
              <td><input type="radio" name="player_2_char" id="player_2_char" value="https://s-media-cache-ak0.pinimg.com/564x/b8/3e/07/b83e07a51e05f7d20c589b06859cb410.jpg" /></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input name="Submit" type="submit" class="ButtonText" id="submit" value="Submit" /></td>
        </tr>
        </table>
    </form></td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
  <tr>
    <td width="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>
</table>
</body>
</html>
